header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: aliceblue;
  margin-bottom: 20px;
}

header nav ul {
  display: flex;
  gap: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

}

.containerrick {
  padding: 20px;
  
}